body{
    position: relative;
}

#ui-helper{
    padding: 10px;
    background: white;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    display: inline-block;
    bottom:20px;
    left:20px;
    z-index: 2000;
}
form {
    padding: 20px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }
  form .error {
    color: #ff0000;
  }