﻿/*THEMIFY FONT*/
[class^=ti-], [class*=" ti-"] {
    font-family: "themify";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
}

.ti-wand:before {
    content: "";
}

.ti-volume:before {
    content: "";
}

.ti-user:before {
    content: "";
}

.ti-unlock:before {
    content: "";
}

.ti-unlink:before {
    content: "";
}

.ti-trash:before {
    content: "";
}

.ti-thought:before {
    content: "";
}

.ti-target:before {
    content: "";
}

.ti-tag:before {
    content: "";
}

.ti-tablet:before {
    content: "";
}

.ti-star:before {
    content: "";
}

.ti-spray:before {
    content: "";
}

.ti-signal:before {
    content: "";
}

.ti-shopping-cart:before {
    content: "";
}

.ti-shopping-cart-full:before {
    content: "";
}

.ti-settings:before {
    content: "";
}

.ti-search:before {
    content: "";
}

.ti-zoom-in:before {
    content: "";
}

.ti-zoom-out:before {
    content: "";
}

.ti-cut:before {
    content: "";
}

.ti-ruler:before {
    content: "";
}

.ti-ruler-pencil:before {
    content: "";
}

.ti-ruler-alt:before {
    content: "";
}

.ti-bookmark:before {
    content: "";
}

.ti-bookmark-alt:before {
    content: "";
}

.ti-reload:before {
    content: "";
}

.ti-plus:before {
    content: "";
}

.ti-pin:before {
    content: "";
}

.ti-pencil:before {
    content: "";
}

.ti-pencil-alt:before {
    content: "";
}

.ti-paint-roller:before {
    content: "";
}

.ti-paint-bucket:before {
    content: "";
}

.ti-na:before {
    content: "";
}

.ti-mobile:before {
    content: "";
}

.ti-minus:before {
    content: "";
}

.ti-medall:before {
    content: "";
}

.ti-medall-alt:before {
    content: "";
}

.ti-marker:before {
    content: "";
}

.ti-marker-alt:before {
    content: "";
}

.ti-arrow-up:before {
    content: "";
}

.ti-arrow-right:before {
    content: "";
}

.ti-arrow-left:before {
    content: "";
}

.ti-arrow-down:before {
    content: "";
}

.ti-lock:before {
    content: "";
}

.ti-location-arrow:before {
    content: "";
}

.ti-link:before {
    content: "";
}

.ti-layout:before {
    content: "";
}

.ti-layers:before {
    content: "";
}

.ti-layers-alt:before {
    content: "";
}

.ti-key:before {
    content: "";
}

.ti-import:before {
    content: "";
}

.ti-image:before {
    content: "";
}

.ti-heart:before {
    content: "";
}

.ti-heart-broken:before {
    content: "";
}

.ti-hand-stop:before {
    content: "";
}

.ti-hand-open:before {
    content: "";
}

.ti-hand-drag:before {
    content: "";
}

.ti-folder:before {
    content: "";
}

.ti-flag:before {
    content: "";
}

.ti-flag-alt:before {
    content: "";
}

.ti-flag-alt-2:before {
    content: "";
}

.ti-eye:before {
    content: "";
}

.ti-export:before {
    content: "";
}

.ti-exchange-vertical:before {
    content: "";
}

.ti-desktop:before {
    content: "";
}

.ti-cup:before {
    content: "";
}

.ti-crown:before {
    content: "";
}

.ti-comments:before {
    content: "";
}

.ti-comment:before {
    content: "";
}

.ti-comment-alt:before {
    content: "";
}

.ti-close:before {
    content: "";
}

.ti-clip:before {
    content: "";
}

.ti-angle-right:before {
    content: "";
}

.ti-angle-left:before {
    content: "";
}

.ti-angle-down:before {
    content: "";
}

.ti-angle-up:before {
    content: "";
}

.ti-check:before {
    content: "";
}

.ti-check-box:before {
    content: "";
}

.ti-camera:before {
    content: "";
}

.ti-announcement:before {
    content: "";
}

.ti-brush:before {
    content: "";
}

.ti-briefcase:before {
    content: "";
}

.ti-bolt:before {
    content: "";
}

.ti-bolt-alt:before {
    content: "";
}

.ti-blackboard:before {
    content: "";
}

.ti-bag:before {
    content: "";
}

.ti-move:before {
    content: "";
}

.ti-arrows-vertical:before {
    content: "";
}

.ti-arrows-horizontal:before {
    content: "";
}

.ti-fullscreen:before {
    content: "";
}

.ti-arrow-top-right:before {
    content: "";
}

.ti-arrow-top-left:before {
    content: "";
}

.ti-arrow-circle-up:before {
    content: "";
}

.ti-arrow-circle-right:before {
    content: "";
}

.ti-arrow-circle-left:before {
    content: "";
}

.ti-arrow-circle-down:before {
    content: "";
}

.ti-angle-double-up:before {
    content: "";
}

.ti-angle-double-right:before {
    content: "";
}

.ti-angle-double-left:before {
    content: "";
}

.ti-angle-double-down:before {
    content: "";
}

.ti-zip:before {
    content: "";
}

.ti-world:before {
    content: "";
}

.ti-wheelchair:before {
    content: "";
}

.ico-size fa fa-pencil-square:before {
    content: "";
}

.ico-size fa fa-pencil-square-alt:before {
    content: "";
}

.ti-view-grid:before {
    content: "";
}

.ti-uppercase:before {
    content: "";
}

.ti-upload:before {
    content: "";
}

.ti-underline:before {
    content: "";
}

.ti-truck:before {
    content: "";
}

.ti-timer:before {
    content: "";
}

.ti-ticket:before {
    content: "";
}

.ti-thumb-up:before {
    content: "";
}

.ti-thumb-down:before {
    content: "";
}

.ti-text:before {
    content: "";
}

.ti-stats-up:before {
    content: "";
}

.ti-stats-down:before {
    content: "";
}

.ti-split-v:before {
    content: "";
}

.ti-split-h:before {
    content: "";
}

.ti-smallcap:before {
    content: "";
}

.ti-shine:before {
    content: "";
}

.ti-shift-right:before {
    content: "";
}

.ti-shift-left:before {
    content: "";
}

.ti-shield:before {
    content: "";
}

.ti-notepad:before {
    content: "";
}

.ti-server:before {
    content: "";
}

.ti-quote-right:before {
    content: "";
}

.ti-quote-left:before {
    content: "";
}

.ti-pulse:before {
    content: "";
}

.ti-printer:before {
    content: "";
}

.ti-power-off:before {
    content: "";
}

.ti-plug:before {
    content: "";
}

.ti-pie-chart:before {
    content: "";
}

.ti-paragraph:before {
    content: "";
}

.ti-panel:before {
    content: "";
}

.ti-package:before {
    content: "";
}

.ti-music:before {
    content: "";
}

.ti-music-alt:before {
    content: "";
}

.ti-mouse:before {
    content: "";
}

.ti-mouse-alt:before {
    content: "";
}

.ti-money:before {
    content: "";
}

.ti-microphone:before {
    content: "";
}

.ti-menu:before {
    content: "";
}

.ti-menu-alt:before {
    content: "";
}

.ti-map:before {
    content: "";
}

.ti-map-alt:before {
    content: "";
}

.ti-loop:before {
    content: "";
}

.ti-location-pin:before {
    content: "";
}

.ti-list:before {
    content: "";
}

.ti-view-list:before {
    content: "\e667";
}

.ti-light-bulb:before {
    content: "";
}

.ti-Italic:before {
    content: "";
}

.ti-info:before {
    content: "";
}

.ti-infinite:before {
    content: "";
}

.ti-id-badge:before {
    content: "";
}

.ti-hummer:before {
    content: "";
}

.ti-home:before {
    content: "";
}

.ti-help:before {
    content: "";
}

.ti-headphone:before {
    content: "";
}

.ti-harddrives:before {
    content: "";
}

.ti-harddrive:before {
    content: "";
}

.ti-gift:before {
    content: "";
}

.ti-game:before {
    content: "";
}

.ti-filter:before {
    content: "";
}

.ti-files:before {
    content: "";
}

.ti-file:before {
    content: "";
}

.ti-eraser:before {
    content: "";
}

.ti-envelope:before {
    content: "";
}

.ti-download:before {
    content: "";
}

.ti-direction:before {
    content: "";
}

.ti-direction-alt:before {
    content: "";
}

.ti-dashboard:before {
    content: "";
}

.ti-control-stop:before {
    content: "";
}

.ti-control-shuffle:before {
    content: "";
}

.ti-control-play:before {
    content: "";
}

.ti-control-pause:before {
    content: "";
}

.ti-control-forward:before {
    content: "";
}

.ti-control-backward:before {
    content: "";
}

.ti-cloud:before {
    content: "";
}

.ti-cloud-up:before {
    content: "";
}

.ti-cloud-down:before {
    content: "";
}

.ti-clipboard:before {
    content: "";
}

.ti-car:before {
    content: "";
}

.ti-calendar:before {
    content: "";
}

.ti-book:before {
    content: "";
}

.ti-bell:before {
    content: "";
}

.ti-basketball:before {
    content: "";
}

.ti-bar-chart:before {
    content: "";
}

.ti-bar-chart-alt:before {
    content: "";
}

.ti-back-right:before {
    content: "";
}

.ti-back-left:before {
    content: "";
}

.ti-arrows-corner:before {
    content: "";
}

.ti-archive:before {
    content: "";
}

.ti-anchor:before {
    content: "";
}

.ti-align-right:before {
    content: "";
}

.ti-align-left:before {
    content: "";
}

.ti-align-justify:before {
    content: "";
}

.ti-align-center:before {
    content: "";
}

.ti-alert:before {
    content: "";
}

.ti-alarm-clock:before {
    content: "";
}

.ti-agenda:before {
    content: "";
}

.ti-write:before {
    content: "";
}

.ti-window:before {
    content: "";
}

.ti-widgetized:before {
    content: "";
}

.ti-widget:before {
    content: "";
}

.ti-widget-alt:before {
    content: "";
}

.ti-wallet:before {
    content: "";
}

.ti-video-clapper:before {
    content: "";
}

.ti-video-camera:before {
    content: "";
}

.ti-vector:before {
    content: "";
}

.ti-themify-logo:before {
    content: "";
}

.ti-themify-favicon:before {
    content: "";
}

.ti-themify-favicon-alt:before {
    content: "";
}

.ti-support:before {
    content: "";
}

.ti-stamp:before {
    content: "";
}

.ti-split-v-alt:before {
    content: "";
}

.ti-slice:before {
    content: "";
}

.ti-shortcode:before {
    content: "";
}

.ti-shift-right-alt:before {
    content: "";
}

.ti-shift-left-alt:before {
    content: "";
}

.ti-ruler-alt-2:before {
    content: "";
}

.ti-receipt:before {
    content: "";
}

.ti-pin2:before {
    content: "";
}

.ti-pin-alt:before {
    content: "";
}

.ti-pencil-alt2:before {
    content: "";
}

.ti-palette:before {
    content: "";
}

.ti-more:before {
    content: "";
}

.ti-more-alt:before {
    content: "";
}

.ti-microphone-alt:before {
    content: "";
}

.ti-magnet:before {
    content: "";
}

.ti-line-double:before {
    content: "";
}

.ti-line-dotted:before {
    content: "";
}

.ti-line-dashed:before {
    content: "";
}

.ti-layout-width-full:before {
    content: "";
}

.ti-layout-width-default:before {
    content: "";
}

.ti-layout-width-default-alt:before {
    content: "";
}

.ti-layout-tab:before {
    content: "";
}

.ti-layout-tab-window:before {
    content: "";
}

.ti-layout-tab-v:before {
    content: "";
}

.ti-layout-tab-min:before {
    content: "";
}

.ti-layout-slider:before {
    content: "";
}

.ti-layout-slider-alt:before {
    content: "";
}

.ti-layout-sidebar-right:before {
    content: "";
}

.ti-layout-sidebar-none:before {
    content: "";
}

.ti-layout-sidebar-left:before {
    content: "";
}

.ti-layout-placeholder:before {
    content: "";
}

.ti-layout-menu:before {
    content: "";
}

.ti-layout-menu-v:before {
    content: "";
}

.ti-layout-menu-separated:before {
    content: "";
}

.ti-layout-menu-full:before {
    content: "";
}

.ti-layout-media-right-alt:before {
    content: "";
}

.ti-layout-media-right:before {
    content: "";
}

.ti-layout-media-overlay:before {
    content: "";
}

.ti-layout-media-overlay-alt:before {
    content: "";
}

.ti-layout-media-overlay-alt-2:before {
    content: "";
}

.ti-layout-media-left-alt:before {
    content: "";
}

.ti-layout-media-left:before {
    content: "";
}

.ti-layout-media-center-alt:before {
    content: "";
}

.ti-layout-media-center:before {
    content: "";
}

.ti-layout-list-thumb:before {
    content: "";
}

.ti-layout-list-thumb-alt:before {
    content: "";
}

.ti-layout-list-post:before {
    content: "";
}

.ti-layout-list-large-image:before {
    content: "";
}

.ti-layout-line-solid:before {
    content: "";
}

.ti-layout-grid4:before {
    content: "";
}

.ti-layout-grid3:before {
    content: "";
}

.ti-layout-grid2:before {
    content: "";
}

.ti-layout-grid2-thumb:before {
    content: "";
}

.ti-layout-cta-right:before {
    content: "";
}

.ti-layout-cta-left:before {
    content: "";
}

.ti-layout-cta-center:before {
    content: "";
}

.ti-layout-cta-btn-right:before {
    content: "";
}

.ti-layout-cta-btn-left:before {
    content: "";
}

.ti-layout-column4:before {
    content: "";
}

.ti-layout-column3:before {
    content: "";
}

.ti-layout-column2:before {
    content: "";
}

.ti-layout-accordion-separated:before {
    content: "";
}

.ti-layout-accordion-merged:before {
    content: "";
}

.ti-layout-accordion-list:before {
    content: "";
}

.ti-ink-pen:before {
    content: "";
}

.ti-info-alt:before {
    content: "";
}

.ti-help-alt:before {
    content: "";
}

.ti-headphone-alt:before {
    content: "";
}

.ti-hand-point-up:before {
    content: "";
}

.ti-hand-point-right:before {
    content: "";
}

.ti-hand-point-left:before {
    content: "";
}

.ti-hand-point-down:before {
    content: "";
}

.ti-gallery:before {
    content: "";
}

.ti-face-smile:before {
    content: "";
}

.ti-face-sad:before {
    content: "";
}

.ti-credit-card:before {
    content: "";
}

.ti-control-skip-forward:before {
    content: "";
}

.ti-control-skip-backward:before {
    content: "";
}

.ti-control-record:before {
    content: "";
}

.ti-control-eject:before {
    content: "";
}

.ti-comments-smiley:before {
    content: "";
}

.ti-brush-alt:before {
    content: "";
}

.ti-youtube:before {
    content: "";
}

.ti-vimeo:before {
    content: "";
}

.ti-twitter:before {
    content: "";
}

.ti-time:before {
    content: "";
}

.ti-tumblr:before {
    content: "";
}

.ti-skype:before {
    content: "";
}

.ti-share:before {
    content: "";
}

.ti-share-alt:before {
    content: "";
}

.ti-rocket:before {
    content: "";
}

.ti-pinterest:before {
    content: "";
}

.ti-new-window:before {
    content: "";
}

.ti-microsoft:before {
    content: "";
}

.ti-list-ol:before {
    content: "";
}

.ti-linkedin:before {
    content: "";
}

.ti-layout-sidebar-2:before {
    content: "";
}

.ti-layout-grid4-alt:before {
    content: "";
}

.ti-layout-grid3-alt:before {
    content: "";
}

.ti-layout-grid2-alt:before {
    content: "";
}

.ti-layout-column4-alt:before {
    content: "";
}

.ti-layout-column3-alt:before {
    content: "";
}

.ti-layout-column2-alt:before {
    content: "";
}

.ti-instagram:before {
    content: "";
}

.ti-google:before {
    content: "";
}

.ti-github:before {
    content: "";
}

.ti-flickr:before {
    content: "";
}

.ti-facebook:before {
    content: "";
}

.ti-dropbox:before {
    content: "";
}

.ti-dribbble:before {
    content: "";
}

.ti-apple:before {
    content: "";
}

.ti-android:before {
    content: "";
}

.ti-save:before {
    content: "";
}

.ti-save-alt:before {
    content: "";
}

.ti-yahoo:before {
    content: "";
}

.ti-wordpress:before {
    content: "";
}

.ti-vimeo-alt:before {
    content: "";
}

.ti-twitter-alt:before {
    content: "";
}

.ti-tumblr-alt:before {
    content: "";
}

.ti-trello:before {
    content: "";
}

.ti-stack-overflow:before {
    content: "";
}

.ti-soundcloud:before {
    content: "";
}

.ti-sharethis:before {
    content: "";
}

.ti-sharethis-alt:before {
    content: "";
}

.ti-reddit:before {
    content: "";
}

.ti-pinterest-alt:before {
    content: "";
}

.ti-microsoft-alt:before {
    content: "";
}

.ti-linux:before {
    content: "";
}

.ti-jsfiddle:before {
    content: "";
}

.ti-joomla:before {
    content: "";
}

.ti-html5:before {
    content: "";
}

.ti-flickr-alt:before {
    content: "";
}

.ti-email:before {
    content: "";
}

.ti-drupal:before {
    content: "";
}

.ti-dropbox-alt:before {
    content: "";
}

.ti-css3:before {
    content: "";
}

.ti-rss:before {
    content: "";
}

.ti-rss-alt:before {
    content: "";
}
