@import "variables.less";

//FONTS
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Roboto Light"), local("Roboto-Light"),
    url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc9.ttf)
      format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"), local("Roboto-Regular"),
    url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf)
      format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc9.ttf)
      format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc9.ttf)
      format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("Roboto Black"), local("Roboto-Black"),
    url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmYUtfBBc9.ttf)
      format("truetype");
}
@font-face {
    font-family: "Themify";
    font-style: normal;
    font-weight: normal;
    src: url(/assets/vendor/enjoying/fonts/themify.woff);
    src: url(/assets/vendor/enjoying/fonts/themify.eot?#iefix) format("embedded-opentype"),
      url(/assets/vendor/enjoying/fonts/themify.woff) format("woff");
  }

body {
  font-size: 14px;
  font-family: "Roboto";
  color: @basetextColor;
  background: #edf2f6;
  header {
    padding-top: 15px;
  }
}
a{
  text-decoration: none !important;
  &:hover{
    color:@highlightColor !important;
  }
}
.container {
  max-width: 1920px;
  min-width: 100%;
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  &.content {
    max-width: 1680px !important;
    min-width: 0%;
  }
  .fb-app-logo {
    width: 200px;
    height: 22px;
  }
}
.badge{
  font-size: 11px;
  font-weight: 400;
  line-height: 12px;
  border-radius: 3px;
  &.badge-light{
    background-color: lighten(@basetextColor, 68%);
    white-space: nowrap!important;
  overflow: hidden;
  text-overflow: ellipsis;
  }
}
  
  .fb-dropdown-cta{
    cursor: pointer;
  }
  .fb-info-item{
    display: inline-block;
    position: relative;
    .fb-dropdown-menu{
      display: none;
      position: absolute;
      right:-6px;
      top:60px;
      width:300px;
      height:400px;
      max-height: 460px;
      background: white;
      z-index: 10;
      border-radius: 8px;
      box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.15);
      z-index: 10;
      border:1px solid fade(@basetextColor, 15%);
      .fb-dropdown-menu-pointer{
        display: block;
        width:12px;
        height: 12px;
        background: white;
        transform: rotate(45deg);
        border-top:1px solid fade(@basetextColor, 15%);
        border-left:1px solid fade(@basetextColor, 15%);
        position: absolute;
        top: -6px;
        right:20px;
      }
      .fb-notification-wrapper{
        height:calc(100% - 51px);
        overflow-y: auto;
        padding: 0 16px;
      }
    }
  }

button{
  padding: 6px 20px;
  min-width: 100px;
  border-radius: 4px;
  font-size: 13px;
  text-transform: uppercase;
  //letter-spacing: 2px;
  line-height: 17px;
  font-weight: 500;
  border: 1px solid @basetextColor !important;
  color:@basetextColor;
  transition: 150ms ease-in-out;
  background: transparent;
  &:focus{
    outline: none;
  }
  &:hover{
    background-position: 0 0;
    color:white;
  }
  &:disabled{
    background-color: fade(@basetextColor, 50%);
    color:fade(@basetextColor, 70%);
  }
}
.confirm{
  background-image:linear-gradient(to right, @highlightColor 50%, transparent 0);
  background-size: 200% 100%;
  background-position: 100% 0;
  background-repeat: no-repeat;
  &:hover{
    border:1px solid @highlightColor !important;
  }
  &:active{
    background: darken(@highlightColor, 30%);
  }
}
.cancel{
  background-image:linear-gradient(to right, @basetextColor 50%, transparent 0);
  background-size: 200% 100%;
  background-position: 100% 0;
  background-repeat: no-repeat;
  &:hover{
    border:1px solid @basetextColor !important;
  }
  &:active{
    background: darken(@basetextColor, 20%);
  }
}
.fb-profile {
  display: inline-block;
  width: 42px;
  min-width: 42px;
  height: 42px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 48px;
    height: auto;
    transform: translate(-50%, -50%);
  }
  span{
    display: block;
    font-size: 26px;
    position: relative;
    width:42px;
    height:42px;
    line-height: 42px;
    text-align: center;
    .fb-notification-no{
      width:20px;
      height:20px;
      font-size: 10px;
      font-family: 'Roboto';
      font-weight: 500;
      line-height: 10px;
      padding: 5px 0;
      text-align: center;
      color:white;
      background:#dc3545;
      position: absolute;
      letter-spacing: -.5px;
      border-radius: 50%;
      left:44%;
      top:3px;
      border: 1px solid #f0394b;
      box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.2);
    }
  }
}
small {
  display: block;
  color: fade(@basetextColor, 50%);
  white-space: nowrap!important;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 18px;
  margin:0;
}
.fb-tab {
  text-align: center;
  position: relative;
  padding: 10px 20px;
  letter-spacing: 0.25px;
  font-weight: 500;
  background: transparent;
  border: none;
  color: fade(@basetextColor, 30%);
  cursor: pointer;
  text-transform: uppercase;
  border-bottom: 2px solid fade(@basetextColor, 20%);
  transition: @mainTransition;
  &:hover {
    color: fade(@basetextColor, 50%);
    border-bottom: 2px solid fade(@basetextColor, 35%);
  }
  &.selected {
    border-bottom: 2px solid @highlightColor;
    color: @highlightColor;
  }
}
.panel-general {
  border-radius: 12px;
  background: white;
  padding: 20px 30px;
}
.fb-panel-title {
  display: block;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: fade(@basetextColor, 60%);
  //margin-bottom: 1rem;
}
.fb-doc-item {
  position: relative;
  padding: 16px;
  background: white;
  border: 1px solid transparent;
  border-radius: 8px;
  margin-bottom: 6px;
  transition: @mainTransition;
  border: 1px solid fade(@basetextColor, 7%);
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.1);
  &:hover {
    //background: fade(@basetextColor, 6%);
    border: 1px solid @highlightColor;
    box-shadow: none;
  }
  .fb-talk-status {
    width: 100px;
    text-align: right;
  }
}
.fb-employee{
  position: relative;
}
  .fb-employee-name {
    font-size: 15x;
    font-weight: 500;
    line-height: 15px;
    margin-bottom: 4px;
  }
  .fb-employee-final{
    font-size: 50x;
    font-weight: 700;
    line-height: 15px;
    margin-bottom: 4px;
    justify-content: left;
    flex: 1;
    text-align: left;
  }
  .fb-employee-data{
    line-height: 14px;
    color: lighten(@basetextColor, 35%);
  .fb-employee-unit{
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    &::after{
      content: " \2022 ";
    }
  }
}
.fb-employee-team {
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}

a.div-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
  z-index: 1;
}

a.div-link1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 65%;
  text-decoration: none;
  z-index: 1;
}
.fb-search-filter{
    display: block;
    position: relative;
    input.fb-filter-list{
        width:100%;
        padding:10px 36px 10px 36px;
        font-size: 14px;
        font-family: 'Roboto';
        background: white;
        outline: none;
        border:1px solid fade(@basetextColor, 30%);
        border-radius: 4px;
        transition: @mainTransition;
        &:focus{
            outline:none;
            border:1px solid @highlightColor;
            background: white;
        }
        &::placeholder{
          color:red;
          color: fade(@basetextColor, 50%);
        }
    }
    #search-icon{
        display:block;
        position: absolute;
        color: fade(@basetextColor, 50%);
        top:0;
        left:14px;
        &:before{
            font-family: 'Themify';
            font-size: 16px;
            line-height: 44px;
            content: "\e610";
        }
    }
    #reset-icon{
        display:block;
        position: absolute;
        top:0;
        right:14px;
        color: fade(@basetextColor, 30%);
        transition: @mainTransition;
        &:hover{
            color: @basetextColor;
            cursor: pointer;
        }
        &:before{
            font-family: 'Themify';
            font-size: 16px;
            line-height: 44px;
            content: "\e646";
        }
    }
}
table {
  min-width: 100%;
  thead {
    tr {
      border-bottom: 1px solid fade(@basetextColor, 30%);
      //background: fade(@highlightColor, 50%);
      th {
        padding: 8px;
      }
    }
  }
  tbody {
    tr {
      background: white;
      border-bottom: 1px solid fade(@basetextColor, 15%);
      transition: @mainTransition;
      &:first-of-type{
        border-top: 1px solid fade(@basetextColor, 15%);
      }
      &:hover {
        background: fade(@basetextColor, 10%);
      }
      td {
        padding: 8px;
        &:last-of-type{
          text-align: right;
          &:nth-child(2){
            font-weight: 500;
          }
        }
      }
    }
  }
}
.fb-toggle{
  cursor: pointer;
}
.sticky-element{
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
  z-index: 1020;
}

//INPUT ELEMENTS
input[type=text],
input[type=password],
textarea{
  display: block;
  width:100%;
  outline:none;
  border:1px solid fade(@basetextColor, 30%);
  padding: 5px;
  border-radius: 2px;
  &:focus{
    outline:none;
    border:1px solid @highlightColor;
    background: white;
  }
  &::placeholder{
    color:red;
    color: fade(@basetextColor, 50%);
  }
  &:disabled{
    background: fade(@basetextColor, 10%);
  }
  &.input-error{
    border:1px solid red;
  }
}
input[type="radio"] {
  margin-top: -1px;
  vertical-align: middle;
}

span.input-error-message{
  visibility: hidden;
  display: block;
  color:red;
  width:auto;
  text-align: right;
  font-size: 12px;
  line-height: 12px;
  &:after{
    content:"!";
    font-size: 12px;
    line-height: 12px;
    color:red;
  }
}
.form-control {
  display: block;
  width: 100%;
  height: 33px;
  padding: 5px;
  font-size: 14px;
  line-height: 1.5;
  background-color: white;
  background-clip: padding-box;
  border:1px solid fade(@basetextColor, 30%);
  border-radius: 2px;
  transition: @mainTransition;
  margin-bottom: 12px;
}
label{
  display: inline-block !important;
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
  padding: 0;
  margin:0;
  color: fade(@basetextColor, 60%);
  white-space: nowrap!important;
  overflow: hidden;
  text-overflow: ellipsis;
}
.no-results{
  color:lighten(@basetextColor, 40%);
}

//MODAL
.modal{
  .modal-head, .modal-body, .modal-foot{
    padding:2rem;
  }
  .modal-head{
    background:@highlightColor;
    color:white;
    small{
      color:white;
    }
  }
  .fb-modal-talktype-title{
    font-size:1rem;
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
  }
  .modal-content{
    border-radius: 0;
    border:none !important;
  }
  .modal-dialog{
    margin-bottom:200px;
  }
}
.fb-empty-mark{
  position: absolute;
  font-size: 12px;
  color:@warningColor;
  top:3px;
  right:6px;
}

//CHECKBOX
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 18px;
  border-radius: 2px;
  margin: 0;
  vertical-align: middle;
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: lighten(@basetextColor, 60%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  &:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    border-radius: 1px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}
input:checked + .slider {
  background-color: @confirmColor;
}

input:focus + .slider {
  box-shadow: 0 0 1px @confirmColor;
}
input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}
.checkbox-label {
  line-height: 18px;
  font-size: 12px;
}
.fb-add-new{
  display:block;
  background: @highlightColor;
  color: white;
  transition: @mainTransition;
  &:hover{
    background: darken(@highlightColor, 15%);
    color:fade(white, 65%);
  }
}
.fb-menu-item{
  color:@basetextColor;
  display:block;
  padding:8px;
  border-radius: 4px;
  transition: @mainTransition;
  &:hover{
    background: fade(@basetextColor, 10%);
    color: @basetextColor;
  }
  &:last-of-type{
    margin-bottom:1rem;
  }
}